body {
  text-align: center;
  background-color: pink;
  font-family: arial;
}

h1 {
  color: orange;
}

#purple {
  background: purple;
}

#yellow {
  background: yellow;
}

#original-color {
  background: pink;
}

.purple-background {
  background-color: purple;
}

.yellow-background {
  background-color: yellow;
}

.original-color {
  background-color: pink;
}

ul.intro {
  text-align: left;
  font-size: 15px;
}

ul {
  color: #85929E;
  list-style-type: none;
  line-height: 30px;
  font-size: 20px;
}

img {
  width: 50%
}
